
#################################
# sshd_config.genDefault
#################################

# FILE DETAILS:

# Extended version of the default sshd_config file for OpenSSH's sshd daemon.
# Provides key configuration options, with more detailed comments explaining what each does. 

#################################


##### Main Daemon Configuration #####

# The port that sshd will listen on. Default is 22.
#Port 22

# The address family to listen on. Supported values are any, inet (IPv4 only), or inet6 (IPv6 only). Default is any.
#AddressFamily any 

# The IP addresses sshd should listen on. Default is all addresses.
#ListenAddress 0.0.0.0
#ListenAddress ::

# The host keys for the server. At least one of these must be defined. Default paths are shown.
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# The algorithms sshd supports. See the sshd_config man page for default values.
# Ciphers, HostKeyAlgorithms, KexAlgorithms, and MACs should only be changed if really needed.
#RekeyLimit default none
#Ciphers aes128-ctr,aes192-ctr,aes256-ctr
#HostKeyAlgorithms ssh-rsa,ssh-dss,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519
#KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256
#MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,umac-128-etm@openssh.com

# Format of log messages. Default is SYSLOG.
#LogLevel INFO

# Logging facility to use if syslog is enabled. Default AUTH. 
#SyslogFacility AUTH

# Print last log message on shell login. Default is no.
#PrintLastLog yes  

# PID file for sshd to create at startup and remove on shutdown. Default is /var/run/sshd.pid.
#PidFile /var/run/sshd.pid

##### Cryptography Configuration #####

# Location of entropy file for seeding random number generator. Default is /dev/urandom.
#RandomSeed /dev/urandom  

# Allow the server to use DNS to determine information about connecting clients. Default is yes.
#UseDNS yes

# Allow/disallow empty passwords. Default is no. 
#PermitEmptyPasswords no

##### User Login Controls #####

# Maximum number of authentication attempts permitted per connection. Default is 6.
#MaxAuthTries 6

# Maximum number of open shell, login, or subsystem sessions permitted per network connection. Default is 10.
#MaxSessions 10

# Password and challenge-response authentication is disabled by default.
#PasswordAuthentication no
#ChallengeResponseAuthentication no

# Don't read ~/.rhosts and ~/.shosts files. Default is yes.
#IgnoreRhosts yes

# Allow SSH protocol version 1. Default is no.
#Protocol 2

# To disable root logins, uncomment this line:
#PermitRootLogin prohibit-password

# To allow root to log in using public key authentication, uncomment this line:
#PermitRootLogin forced-commands-only

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Set the default login shell. Default is to use the user's shell specified in /etc/passwd.
#ForceCommand internal-sftp

##### X11, Agent, TCP Forwarding, and GSSAPI Controls #####

# Allow X11 forwarding. Default is yes.
#X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#XAuthLocation /usr/X11R6/bin/xauth

# Allow SSH agent forwarding. Default is yes.
#AllowAgentForwarding yes

# Allow TCP forwarding. Default is yes.
#AllowTcpForwarding yes

# Allow GSSAPI user authentication and forwarding. These default to no.
#GSSAPIAuthentication no
#GSSAPICleanupCredentials no

##### File/Directory Configuration #####

# Directory in which sshd stores public host keys. Default is /etc/ssh.
#HostKeyDirectory /etc/ssh

# Specifies the path to the user's ~/.ssh/authorized_keys file. Default is .ssh/authorized_keys. 
#AuthorizedKeysFile	.ssh/authorized_keys

# Lifetime and size of ephemeral version 1 server key. Defaults are 1h and 1024 bits.
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Ensure permissions on user home directory are correct.  
#StrictModes yes

# Logging configuration:
#   QUIET: Fatal errors
#   VERBOSE: Verbose logging for debugging
#   INFO: Informational messages
SyslogFacility AUTH
LogLevel INFO

##### Miscellaneous Options #####  

# Set the SSH protocol version to 2.  
# SSH v1 is no longer considered secure.
Protocol 2

# Give a nice banner to connecting users  
#Banner /etc/issue.net

# Allow client to pass locale environment variables. Default is yes.   
#AcceptEnv LANG LC_*

# Override default of no subsystems
Subsystem	sftp	/usr/libexec/sftp-server
