#################################
# sshd_config.winDefault
#################################

# FILE DETAILS:

# Extended, Windows-environment-focused version of the default 
# sshd_config file for OpenSSH's sshd daemon.

# Revision includes additional configuration options and details relevant 
# to running sshd on Windows Server, such as specifying file paths using 
# Windows conventions and syntax.

# For each configuration option, the acceptable values or format are provided
# in comments to guide administrators in setting them correctly.

#################################

##### Main Daemon Configuration #####

# The port sshd listens on. Default is 22. Multiple ports can be specified, separated by spaces.
# Acceptable values: 1-65535
#Port 22

# The address family to listen on. Supports any, inet (IPv4 only), or inet6 (IPv6 only). Default is any.
# Acceptable values: any, inet, inet6
#AddressFamily any 

# The IP addresses sshd should listen on. Default is all addresses. Multiple addresses can be specified, separated by spaces.
# Acceptable values: Valid IPv4 or IPv6 addresses
#ListenAddress 0.0.0.0
#ListenAddress ::

# The host keys for the server. At least one must be defined. Default paths are shown.
# Acceptable values: Valid file paths
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# On Windows, specify the path to the OpenSSH host keys.
# HostKey C:\ProgramData\ssh\ssh_host_rsa_key
# HostKey C:\ProgramData\ssh\ssh_host_ecdsa_key
# HostKey C:\ProgramData\ssh\ssh_host_ed25519_key

# Algorithms sshd supports. See man page for defaults. Only change if really needed.
# RekeyLimit: Amount of data that can be transferred before a key exchange is performed. Default is default none.
# Acceptable values for RekeyLimit: Integer followed by a size (e.g., 1G) or none
# Acceptable values for other options: Comma-separated list of supported algorithms
#RekeyLimit default none  
#Ciphers aes128-ctr,aes192-ctr,aes256-ctr
#HostKeyAlgorithms ssh-rsa,ssh-dss,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519
#KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256
#MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,umac-128-etm@openssh.com

# Log message verbosity. Default is INFO.
# Acceptable values: QUIET, FATAL, ERROR, INFO, VERBOSE, DEBUG, DEBUG1, DEBUG2, DEBUG3
#LogLevel INFO

# Logging facility if syslog is enabled. Default is AUTH.
# Acceptable values: DAEMON, USER, AUTH, LOCAL0, LOCAL1, LOCAL2, LOCAL3, LOCAL4, LOCAL5, LOCAL6, LOCAL7 
#SyslogFacility AUTH

# Print the date and time of the last user login. Default is no.
# Acceptable values: yes, no
#PrintLastLog yes  

# PID file location. Default is /var/run/sshd.pid.
# Acceptable values: Valid file path
#PidFile /var/run/sshd.pid

# On Windows, specify the path to the OpenSSH pid file.  
# PidFile C:\ProgramData\ssh\sshd.pid

##### Cryptography Configuration #####

# Entropy source for random number generator. Default is /dev/urandom.
# Acceptable values: Valid file path  
#RandomSeed /dev/urandom  

# Allow the server to use DNS to check connecting client hostnames. Default is yes.
# Acceptable values: yes, no
#UseDNS yes

# Allow/disallow empty passwords. Default is no. 
# Acceptable values: yes, no
#PermitEmptyPasswords no

##### User Login Controls #####

# Maximum authentication attempts per connection. Default is 6.
# Acceptable values: Integer
#MaxAuthTries 6

# Maximum open shell, login, or subsystem sessions per network connection. Default is 10.
# Acceptable values: Integer
#MaxSessions 10

# Enable password and challenge-response authentication. Both default to no.
# Acceptable values: yes, no
#PasswordAuthentication no
#ChallengeResponseAuthentication no

# Ignore legacy ~/.rhosts and ~/.shosts files. Default is yes.
# Acceptable values: yes, no  
#IgnoreRhosts yes

# SSH protocol versions to support. Default is 2. Multiple versions can be specified, separated by commas.
# Acceptable values: 1, 2
#Protocol 2  

# Disable root logins. Default is prohibit-password.
# Acceptable values: yes, no, prohibit-password, forced-commands-only
#PermitRootLogin prohibit-password

# Enable root login with public key authentication.
# PermitRootLogin forced-commands-only

# Allow empty passwords (HIGHLY DISCOURAGED). Default is no.
# Acceptable values: yes, no
PermitEmptyPasswords no

# Force a specific command to execute on login. Default is the user's shell from /etc/passwd.
# Acceptable values: Valid command with arguments
#ForceCommand internal-sftp

##### X11, Agent, TCP Forwarding, and GSSAPI Controls #####

# Enable X11 forwarding. Default is yes.
# Acceptable values: yes, no  
#X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes  
# Location of the xauth binary. Default is /usr/X11R6/bin/xauth.
# Acceptable values: Valid file path
#XAuthLocation /usr/X11R6/bin/xauth

# Enable SSH agent forwarding. Default is yes.
# Acceptable values: yes, no
#AllowAgentForwarding yes

# Allow TCP forwarding. Default is yes.
# Acceptable values: yes, no 
#AllowTcpForwarding yes

# Enable GSSAPI user authentication and forwarding. Both default to no.
# Acceptable values: yes, no  
#GSSAPIAuthentication no
#GSSAPICleanupCredentials no

##### File/Directory Configuration #####

# Directory to store sshd host keys. Default is /etc/ssh.  
# Acceptable values: Valid directory path
#HostKeyDirectory /etc/ssh

# On Windows, specify the path to the OpenSSH host key storage directory.
# HostKeyDirectory C:\ProgramData\ssh

# Path to user's authorized_keys file. Default is .ssh/authorized_keys in the user's home directory.
# Acceptable values: Valid file path  
#AuthorizedKeysFile	.ssh/authorized_keys

# Lifetime and size of ephemeral protocol v1 server key. Defaults are 1h and 1024 bits.
# Acceptable values for KeyRegenerationInterval: Time span with units (e.g., 1h30m)
# Acceptable values for ServerKeyBits: Integer  
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Check permissions on user's home directory and files. Default is yes.
# Acceptable values: yes, no
#StrictModes yes

# Logging configuration:
#   QUIET: Only fatal errors  
#   VERBOSE: Verbose logging for debugging
#   INFO: Informational messages (default)
# Acceptable values: Same as LogLevel  
SyslogFacility AUTH
LogLevel INFO

##### Miscellaneous Options #####  

# Force SSH protocol v2 to enhance security. v1 is legacy and insecure.
# Acceptable values: 2 
Protocol 2

# Display a banner to connecting users. Banner contents are specified in the file.
# Acceptable values: Valid file path
#Banner /etc/issue.net

# Allow client to pass locale environment variables. Default is yes.
# Acceptable values: Yes, no   
#AcceptEnv LANG LC_*

# Subsystem definitions. Default is no subsystems.
# Acceptable values: Subsystem name and command  
Subsystem	sftp	/usr/libexec/sftp-server

# On Windows, specify the path to the sftp-server subsystem.
# Subsystem sftp C:\Program Files\OpenSSH\sftp-server.exe
